<!-- autoriser=webmestre -->
<!-- refus=<:cfg:refus_configuration_webmestre:> -->
<!-- nom=memoization -->

<div class="formulaire_spip formulaire_config formulaire_config_memoization">
[<p class="reponse_formulaire reponse_formulaire_ok">(#ENV*{message_ok})</p>]
[<p class="reponse_formulaire reponse_formulaire_erreur">(#ENV*{message_erreur})</p>]

<form method="post" action="#ENV{action}">
	<div>
		#ACTION_FORMULAIRE{#ENV{action}}
		[(#REM) ------------------------ Memoization --------------------- ]
		<fieldset>
			<h3 class="legend"><:memoization:legend_cache_methode:></h3>
			<ul class="editer-groupe">
				<li class="editer editer_methode">
					<label for="methode"><:memoization:label_methode:></label>
					<p class="explication"><:memoization:methodes_grisees:></p>
					<select name="methode" id="methode">
						<option value=""><:memoization:option_methode_defaut:>[
							((#VAL|memoization_methode))]</option>
						<option value="apcu"[
							selected="(#ENV{methode}|=={apcu}|?{selected})"][
								disabled="(#VAL{apcu}|memoization_methode|non|?{disabled})"]
								><:memoization:option_methode_apcu:></option>
						<option value="apc"[
							selected="(#ENV{methode}|=={apc}|?{selected})"][
								disabled="(#VAL{apc}|memoization_methode|non|?{disabled})"]
								><:memoization:option_methode_apc:></option>
						<option value="xcache"[
							selected="(#ENV{methode}|=={xcache}|?{selected})"][
								disabled="(#VAL{xcache}|memoization_methode|non|?{disabled})"]
								><:memoization:option_methode_xcache:></option>
						<option value="memcached"[
							selected="(#ENV{methode}|=={memcached}|?{selected})"][
								disabled="(#VAL{memcached}|memoization_methode|non|?{disabled})"]
								><:memoization:option_methode_memcached:></option>
						<option value="memcache"[
							selected="(#ENV{methode}|=={memcache}|?{selected})"][
								disabled="(#VAL{memcache}|memoization_methode|non|?{disabled})"]
								><:memoization:option_methode_memcache:></option>
						<option value="redis"[
							selected="(#ENV{methode}|=={redis}|?{selected})"][
								disabled="(#VAL{redis}|memoization_methode|non|?{disabled})"]
								><:memoization:option_methode_redis:></option>
						<option value="filecache"[
							selected="(#ENV{methode}|=={filecache}|?{selected})"][
								disabled="(#VAL{filecache}|memoization_methode|non|?{disabled})"]
								><:memoization:option_methode_filecache:></option>
						<option value="nocache"[
							selected="(#ENV{methode}|=={nocache}|?{selected})"][
								disabled="(#VAL{nocache}|memoization_methode|non|?{disabled})"]
								><:memoization:option_methode_nocache:></option>
					</select>
				</li>
			</ul>
		</fieldset>
		<fieldset id="memcache_options">
			<h3 class="legend"><:memoization:legend_memcache:></h3>
			<ul class="editer-groupe">
				<li class="editer editer_memcache_servers">
					<label for="memcache_servers"><:memoization:label_memcache_serveurs:></label>
					<p class="explication">(<:memoization:explication_memcache_servers:>)</p>
					<textarea name="memcache_servers" id="memcache_servers" class="textarea">[(#ENV{memcache_servers}|sinon{localhost:11211})]</textarea>
					<p class="lien_memcache"><a href="#URL_ECRIRE{admin_memcache}"><:memoization:lien_administration_memcache:></a></p>
				</li>
			</ul>
		</fieldset>
		<fieldset id="redis_options">
			<h3 class="legend"><:memoization:legend_redis:></h3>
			<ul class="editer-groupe">
				<li class="editer">
					<div class="choix">
						<input name="redis_type" [(#ENV{redis_type}|=={server}|ou{#ENV{redis_type}|=={""}}|oui) checked="checked"] class="radio" id="radio_server" value="server" aria-describedby="radio_explication" type="radio">
						<label for="radio_server" style="margin-right: 20px;"><:memoization:redis_type_serveur:></label>
						<input name="redis_type" [(#ENV{redis_type}|=={sock}|oui) checked="checked"] class="radio" id="radio_sock" value="sock" aria-describedby="radio_explication" type="radio">
						<label for="radio_sock"><:memoization:redis_type_sock:></label>
					</div>
				<li>
				<li class="editer editer_redis_server">
					<label for="redis_server"><:memoization:redis_serveur:></label>
					<p class="explication">(<:memoization:explication_redis_serveur:>)</p>
					<input type="text" name="redis_server" id="redis_server" class="text" value="[(#ENV{redis_server}|sinon{127.0.0.1:6379})]" />
				</li>
				<li class="editer editer_redis_sock">
					<label for="redis_sock"><:memoization:redis_sock:></label>
					<p class="explication">(<:memoization:explication_redis_sock:>)</p>
					<input type="text" name="redis_sock" value="[(#ENV{redis_sock}|sinon{'/tmp/redis.sock'})]" class="text" />
				</li>
				<li class="editer editer_redis_auth">
					<label for="redis_auth"><:memoization:redis_auth:></label>
					<p class="explication">(<:memoization:explications_redis_auth:>)</p>
					<input type="text" name="redis_auth" value="[(#ENV{redis_auth})]" class="text" />
				</li>
				<li class="editer editer_redis_dbindex">
					<label for="redis_dbindex"><:memoization:redis_dbindex:></label>
					<p class="explication">(<:memoization:explication_redis_dbindex:>)</p>
					<input type="text" name="redis_dbindex" value="[(#ENV{redis_dbindex}|sinon{0})]" class="text" />
				</li>
				<li class="editer editer_redis_serializer">
					<label for="redis_serializer"><:memoization:redis_serializer:></label>
					<p class="explication">(<:memoization:explication_redis_serializer:>)</p>
					<select id="redis_serializer" name="redis_serializer" class="select">
						[(#SET{serializers,[(#ARRAY{}|redis_serializer)]})]
					    <BOUCLE_serializer(DATA){source tableau, #GET{serializers}}>
					    <option value="#CLE"[(#ENV{redis_serializer}|=={#CLE}|oui) selected="selected"][(#VALEUR{statut}|=={inactif}|oui) disabled="disabled"]>#VALEUR{libelle}</option>
					    </BOUCLE_serializer> 
					</select>
				</li>
			</ul>
		</fieldset>
		<script type="text/javascript">
		<!--
			var methode_memcache = function() {
				if ($("#methode").val() == 'memcache') {
					$('#memcache_options').slideDown();
				} else {
					$('#memcache_options').hide();
				}
			};
			methode_memcache();

			/** mêmes options que memcache, mais pas d’admin */
			var methode_memcached = function() {
				if ($("#methode").val() == 'memcached') {
					$('#memcache_options .lien_memcache').hide();
					$('#memcache_options').slideDown();
				} else {
					$('#memcache_options').hide();
					$('#memcache_options .lien_memcache').show();
				}
			};
			methode_memcached();

			var methode_redis = function() {
				if ($("#methode").val() == 'redis')
					$('#redis_options').slideDown();
				else
					$('#redis_options').hide();
			};
			methode_redis();

			$("#methode")
			.bind('change', methode_memcache)
			.bind('change', methode_redis);

			var config_redis = function() {
				var choix = $('input[name=redis_type]:checked').val();
				if (choix == "server") {
					$('.editer_redis_server').slideDown();
					$('.editer_redis_sock').hide();
				}else{
					$('.editer_redis_sock').slideDown();
					$('.editer_redis_server').hide();
				}
			};
			config_redis();

			$('input[name=redis_type]')
			.bind('change', config_redis);
		// -->
		</script>
		[(#REM) ------------------------ BOUTON OK ------------------------ ]
		<p class="boutons">
			<input type="submit" name="_cfg_ok" value="<:bouton_valider:>" class="submit" />
		</p>
	</div>
</form>
</div>
