<h2>BOUCLE DATA memoization {3,10}</h2>
<BOUCLE_data(DATA){source memoization,test}{3,10}{datacache 0}>
[#CLE] #VALEUR<br>
</BOUCLE_data>

<h3>BOUCLE SMARTDATA memoization {3,5}</h3>
<BOUCLE_smartdata(SMARTDATA){source memoization,test}{3,5}{datacache 0}>
[#CLE] #VALEUR<br>
</BOUCLE_smartdata>

<h4>BOUCLE DATA:memoization non gérée</h4>
