<H3>BOUCLE SMARTDATA {0,20}</H3>
<BOUCLE_smartdata_0_20(SMARTDATA){source memoization,test}{0,20}{datacache 0}>
[#CLE] #VALEUR<br>
</BOUCLE_smartdata_0_20>

<H3>BOUCLE SMARTDATA {3,5}</H3>
<BOUCLE_smartdata_3_5(SMARTDATA){source memoization,test}{3,5}{datacache 0}>
[#CLE] #VALEUR<br>
</BOUCLE_smartdata_3_5>
